<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arthurbritto.methodik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Methodik">
        <activity android:name=".view.DestinationAlarmActivity"></activity>
        <activity
            android:name=".view.MainActivity"
            android:theme="@style/Theme.Methodik.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.PanelActivityEdit" />
        <activity android:name=".view.PanelActivityAdd" />
        <activity android:name=".view.TaskListActivity" />
        <activity android:name=".view.TaskActivityEdit" />
        <activity android:name=".view.TaskActivityAdd" />

        <receiver
            android:name=".model.AlarmReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>